<div class="col-6 offset-4 form-inline">
  <%= form_tag recipes_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control" %>
    <%= button_tag type: "submit", class: "btn btn-primary" do %>
      <i class="fa fa-search icon"></i>
    <% end %>
  <% end %>
</div>
